h1, h2{
/*    font-family: 'Anton', sans-serif;
*/    font-family: 'Didact Gothic', sans-serif;
}

p,h3,h4,h5 {
    font-family: 'Be Vietnam', sans-serif;  
}

h3,h4,h5 {
    font-weight: bolder;
}

img {
    object-fit: cover;
}

.carousel-inner {
    max-height: 500px !important;
    background-color: black;
    background-image: url(img/WHITELINEN.jpg);
}

#index-carousel-1,
#index-carousel-2,
#index-carousel-3 {
    margin-left: auto !important;
    margin-right: auto !important;
}

#portrait-carousel-1,
#portrait-carousel-2,
#portrait-carousel-3 {
    margin-left: auto !important;
    margin-right: auto !important;
}

.navbar-toggler {
    border-radius: 0px;
}

.container {
    margin-top: 3em;
    margin-bottom: 2em;
}

.bg-light {
    padding-left: 5em;
    padding-right: 5em;
}

.title-header {
    text-align: center;
    margin-bottom: 1em;
}

.card {
    border: none;
    padding: 1em;
}

.card-title {
    font-size: xx-large;
}

.card-img-top {
    width: 80%;
}

/*#portfolio_photos {
    width: 100%;
}*/

.form-control {
    border-radius: 0px;
}

.btn.btn-primary {
    background-color: rgb(236,106,42);
    border-color: rgb(236,106,42);
    border-radius: 0px;
}

.social-icons {
    width: 2em;
}

.headshot-img {
    width: 60%;
    margin: 10px auto 20px;
    display: block;
}

.canvas {
    background-image: url("img/WHITELINEN.jpg");
}

.cursive {
    font-family: 'Ma Shan Zheng', cursive;
}

.col-sm-12.canvas h1 {
    padding-top: 2em;
    padding-bottom: 2em;
    color: rgb(236,106,42);
    font-size: 6em;
    font-weight: lighter;
    padding-left: 1.5em;
}

.student-month {
    padding-left: 1em;
}

.previous-students-photos {
    padding-top: 1em;
    padding-bottom: 2em;
}

footer {
    background-color: aquamarine;
    background-image: url("img/WHITELINEN.jpg");
}
.footer-copyright.text-center.py-3 a{
    color: rgba(0,0,0,.5);
}

.list-unstyled li a {
    color: rgba(0,0,0,.5);
}

#logo-MA {
    float: right;
    width: 40%;
    padding-top: 1em;
    padding-right: 2em;
    padding-bottom: 2em;
}

#navbar-logo {
    width: 20%;
}
.more-info-link ::after,
.more-info-link ::before,
.more-info-link {
    color: #dc3545;
}


@media (max-width: 1000px) {
    #logo-MA {
        padding-top: 6em;
    }

    .col-sm-12.canvas h1 {
        padding-left: 0.4em;
    }
}

@media (max-width: 796px) {
    #logo-MA {
        padding-top: 5em;
    }

    .col-sm-12.canvas h1 {
        padding-left: 0.4em;
        font-size: 5em;
    }
}

@media (max-width: 667px) {
    #logo-MA {
        padding-top: 5em;
        margin-top: -4em;
        width: 35%;
    }

    .col-sm-12.canvas h1 {
        padding-left: 0.4em; 
        padding-top: 1em;
        padding-bottom: 1em;
        font-size: 4em;
    }
}

@media (max-width: 500px) {
    .col-sm-12.canvas h1 {
        font-size: 3em;
    }
}

@media (max-width: 390px) {
    #logo-MA {
        padding-top: 5em;
        margin-top: -4em;
        width: 35%;
        padding-right: 0.5em;
        padding-left: 0.2em;
    }

    .col-sm-12.canvas h1 {
        font-size: 2.5em;
    }
}

