h1, h2{
    font-family: 'Anton', sans-serif;
}

p,h3,h4,h5 {
    font-family: 'Be Vietnam', sans-serif;  
}

h3,h4,h5 {
    font-weight: bolder;
}

img {
    object-fit: cover;
}

.navbar-toggler {
    border-radius: 0px;
}

.container {
    margin-top: 3em;
    margin-bottom: 2em;
}

.bg-light {
    padding-left: 5em;
    padding-right: 5em;
}

.title-header {
    text-align: center;
    margin-bottom: 1em;
}

.card {
    border: none;
    padding: 1em;
}

.card-title {
    font-size: xx-large;
}

.card-img-top {
    width: 80%;
}

.form-control {
    border-radius: 0px;
}

.btn.btn-primary {
    background-color: rgb(236,106,42);
    border-color: rgb(236,106,42);
    border-radius: 0px;
}

.social-icons {
    width: 2em;
}

.headshot-img {
    width: 60%;
    margin: 10px auto 20px;
    display: block;
}

.canvas {
    background-image: url("img/WHITELINEN.jpg");
}

.cursive {
    font-family: 'Ma Shan Zheng', cursive;
}

.col-sm-12.canvas h1 {
    padding-top: 2em;
    padding-bottom: 2em;
}

footer {
    background-color: aquamarine;
    background-image: url("img/WHITELINEN.jpg");
}


#logo-MA {
    float: right;
    width: 25%;
    padding-top: 3em;
    padding-right: 2em;
}

#navbar-logo {
    width: 20%;
}
.more-info-link ::after,
.more-info-link ::before,
.more-info-link {
    color: #dc3545;
}
