img {
    object-fit: cover;
}

.navbar-toggler {
    border-radius: 0px;
}

.container {
    margin-top: 3em;
    margin-bottom: 2em;
}

.bg-light {
    padding-left: 5em;
    padding-right: 5em;
}

.title-header {
    text-align: center;
    margin-bottom: 1em;
}

.card {
    border: none;
    padding: 1em;
}

.form-control {
    border-radius: 0px;
}

.btn.btn-primary {
    background-color: rgb(236,106,42);
    border-color: rgb(236,106,42);
    border-radius: 0px;
}

.social-icons {
    width: 2em;
}

.canvas {
    background-image: url("img/WHITELINEN.jpg");
}

.col-sm-12.canvas h1 {
    padding-top: 2em;
    padding-bottom: 2em;
}

footer {
    background-color: aquamarine;
    background-image: url("img/WHITELINEN.jpg");
}

#logo-MA {
    float: right;
    width: 25%;
    padding-top: 3em;
    padding-right: 2em;
}

#navbar-logo {
    width: 20%;
}
.more-info-link ::after,
.more-info-link ::before,
.more-info-link {
    color: #dc3545;
}
