img {
    object-fit: cover;
}

.container {
    margin-top: 3em;
}

.bg-light {
    padding-left: 5em;
    padding-right: 5em;
}

.title-header {
    text-align: center;
    margin-bottom: 1em;
}

.card {
    border: none;
    padding: 1em;
}

.social-icons {
    width: 2em;
}

.canvas {
    background-image: url("img/WHITELINEN.jpg");
}

footer {
    background-color: aquamarine;
    background-image: url("img/WHITELINEN.jpg");
}

#logo-MA {
    float: right;
    width: 45%;
}

#navbar-logo {
    width: 20%;
}
.more-info-link ::after,
.more-info-link ::before,
.more-info-link {
    color: #dc3545;
}

.jumbotron {
    background-image: url("img/WHITELINEN.jpg");
}